train_synth_compilable/
*.pyc
structured_output/
models/
model/

# Python packaging
.Python
lib/
lib64/
sdist/
include/
.installed.cfg

cache/
# Python virtual environments
.env
.venv
venv/
venv.bak/
pyvenv.cfg
bin/
Scripts/

# Python cache
__pycache__/

# VS Code
.vscode/